#accordion{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,137,1) 15%, rgba(0,212,255,1) 100%);
    padding-bottom: 55px;
}
.accordion__name{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    column-gap: 10px;
}
.plus{
    width: 20px;
    height: 20px;
    transition: .8s;
}
.accordion__content{
    padding: 10px 20px;
    overflow: hidden;
    max-height: 0;
    transition: 0.2s ease-out;
    /* margin: 10px 0; */
}
.accordion__content p{
    font-size: 20px;
    padding: 20px 0;
}

.accordion__wrap.accordion__active .accordion__content{
    max-height: 999999px;
    transition: 0.5s ease-in;
}
.accordion__wrap.accordion__active .plus{
    transform: rotate(-90deg);
}
#accordion h3{
    padding: 65px 0 35px;
    text-align: center;
}
.accordion p{
    font-family: 'Roboto', sans-serif;
    color: white;
}