@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* main */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
.row{
    margin: 0 -15px;
    flex-wrap: wrap;
    display: flex;
    row-gap: 30px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
.col-4{
    width: 33%;
    padding: 0 15px;
}
h1{
    color: white;
    font-size: 40px;
}
h2{
font-size: 35px;
}
h3{
font-size: 30px;
}
/* main */

/* header */
header{
    padding: 15px 0;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    z-index: 2;
    border-bottom: 1px solid white;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav a img{
    height: 50px;
    width: 50px;
}
.header__nav a{
    text-decoration: none;
}
.nav{
    position: fixed;
    align-items: center;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    display: flex;
    column-gap: 30px;
    list-style: none;
    right: -150%;
    top: 80px;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .9s;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
}
.nav li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.show-nav {
    right: 0;
    top: 80px;
    width: 100%;
}
/* header */
