#menu{
    padding: 40px 0;
    background-color: rgb(255, 255, 240);
}
#menu .swiper{
    height: 600px;
    padding-bottom: 50px;
    /* background-color: aqua; */
}
#menu .swiper-slide{
    text-align: center;
    font-size: 18px;
    background-size: 100% 100%;
    height: calc((100% - 30px) /2) !important;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    
}
#menu .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
}
.swiper-pagination{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
#menu .swiper-pagination-bullet-active{
    background-color:black;
}
.swiper-text{
    color: white;
}
#menu h2{
    padding: 25px 0 35px;
    text-align: center;
}